.App {
    padding: 0px 3vw;
}

h2 {
    text-align: center;
    margin: 4vh 0px;
}
body {
    background-color: rgb(154, 168, 184);
}

@media only screen and (max-width: 800px) {
    .App {
        padding: 0px;
    }
}