:root {
    --headColor: rgb(62, 6, 116);
}

thead tr{
    padding-left: 20px !important;
}

th, td{
    padding: 4px 35px !important;
}

td {
    color: rgb(90, 90, 90) !important;
}

thead tr th{
    color: rgb(255, 255, 255);
    background-color: var(--headColor) !important;
}

thead{
    border: none !important;
}

tbody{
    border-top-color: var(--headColor) !important;
}

[alt="Trash Icon"] {
    margin-left: 15px !important;
}

img:hover{
    transform: scale(1.2);
}

caption {
    color: #212529 !important;
}

@media only screen and (max-width: 800px) {
    .id-toggle {
        display: none;
    }

    th, td{
        padding: 4px 20px !important;
    }
}